7 WCF Web Host/App_WebReferences/ServiceReference1/HRMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50872/HRMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntitiesLib" />
  <xs:element name="GetAllEmpForMe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpForMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntitiesLib" minOccurs="0" name="GetAllEmpForMeResult" nillable="true" type="q1:ArrayOfEmplyoee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ecode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntitiesLib" minOccurs="0" name="GetEmpByIdResult" nillable="true" type="q2:Emplyoee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntitiesLib" minOccurs="0" name="emp" nillable="true" type="q3:Emplyoee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ecode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ecode" type="xs:int" />
        <xs:element minOccurs="0" name="salary" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSalaryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>