7 WCF Web Host/App_WebReferences/ServiceReference2/HRMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmplyoee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emplyoee" nillable="true" type="tns:Emplyoee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmplyoee" nillable="true" type="tns:ArrayOfEmplyoee" />
  <xs:complexType name="Emplyoee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deptid" type="xs:int" />
      <xs:element minOccurs="0" name="Ecode" type="xs:int" />
      <xs:element minOccurs="0" name="Ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emplyoee" nillable="true" type="tns:Emplyoee" />
</xs:schema>